/* Header.css */
.header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* Footer.css */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Main.css */
.main {
    padding: 2rem;
    background-color: #27241D;
}

.section {
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
    background-color: #f0f0f0;
}

.golden-text {
    color: #efcc68;
}

.golden-background {
    background-color: #efcc68;
}

.black-text {
    color: #27241D;
}

.black-background {
    background-color: #27241D;
}